@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;500;800&display=swap');

body * {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body a {
    text-decoration: none;
    color: black;
}

#wrap {
    padding: 2.5rem;
}

.stitle {
    color: #01497c;
    font-size: 65px;
    font-weight: 1000;
    border-left: 5px solid #01497c;
    padding-left: 1.5rem;
    margin-bottom: 3.5rem;
}

@media (max-width: 767px) {
    .stitle {
        font-size: 50px;
    }
}

.sSubtitle {
    color: #2a6f97;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1rem;
    min-width: 350px;
}

.greyDate {
    font-size: 12px;
    color: #a3a2a2;
    margin-top: 0.8rem;
}

/* ================================= */
#introduction {
    margin-bottom: 9rem;
    min-width: 390px;
}

.introWrap {
    display: flex;
    gap: 130px;
}

.introW1,
.introW2 {
    flex: 0 0 40%;
}

.introW2 a:hover {
    font-weight: 600;
    color: #2a6f97;
}

@media (max-width: 767px) {
    .introWrap {
        display: block;
    }

    .introW2 {
        margin-top: 3rem;
    }
}

/* ================================= */
#skills {
    margin-top: 2rem;
    border-bottom: solid #ddd 1px;
}

.skillsWrap {
    padding-left: 1.5rem;
    font-size: 15px;
}

.skiWrap1,
.skiWrap2,
.skiWrap3 {
    margin-bottom: 2rem;
    display: flex;
    gap: 10px;
}

.skiWrap2,
.skiWrap3 {
    border-top: solid #ddd 1px;
    padding-top: 2rem;
}

.skiWtitle {
    color: #468faf;
    font-size: 19px;
    font-weight: 600;
    width: 200px;
    min-width: 100px;
}

.trainDiv {
    padding-left: 1.5rem;
}

@media (max-width: 767px) {
    .skiWtitle {
        width: 150px;
    }
}

/* ================================= */
.carTraWrap,
.cerEduWrap {
    display: flex;
    margin-top: 3rem;
}

@media (max-width: 767px) {

    .carTraWrap,
    .cerEduWrap {
        display: block;
    }

    #training,
    #certification {
        margin-top: 3rem;
    }

    #careers,
    #training,
    #education,
    #certification {
        font-size: 15px;
    }
}

#careers,
#training,
#education,
#certification {
    flex: 0 0 50%;
    min-width: 200px;
}

.cerEduWrap {
    border-bottom: solid #ddd 1px;
    padding-bottom: 3rem;
}

/* ================================= */
#projects {
    margin-top: 3rem;
}

.projectTitle {
    color: #2a6f97;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.projectDiv {
    display: flex;
    width: 100%;
    padding-left: 1.5rem;
    /* align-items: center; */
    /* justify-content: center; */
}

.projectDiv ul {
    width: 75%;
    list-style: none;
}

.projectDiv ul li {
    width: 100%;
    min-width: 630px;
    border: solid #ddd 1.5px;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #ddd;
    display: flex;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

@media (max-width: 767px) {
    .projectDiv ul li {
        display: block;
        min-width: 360px;
    }
}

.projectDiv ul li:hover {
    border: solid #ddd 3px;
    transition: 0.1s;
}

.projectDetails,
.projectDiv ul li a {
    flex: 0 0 50%;
}

.projectDetails {
    margin: auto 0;
    /* text-align: center; */
}

.projectDetails div {
    font-size: 20px;
}

.projectDetails p {
    font-size: 12px;
    color: #a3a2a2;
    margin-bottom: 1.5rem;
}

.projectDetails span {
    font-size: 14px;
    background-color: rgba(255, 159, 124, 0.546);
    border-radius: 18px;
    padding: 0 0.5rem;
}

.projectDetails a {
    width: 100%;
    display: block;
    font-weight: 700;
}

.projectDetails a:nth-of-type(1) {
    margin-top: 4rem;
}

@media (max-width: 767px) {
    .projectDetails a {
        font-size: 14px;
    }

    .projectDetails a:nth-of-type(1) {
        margin-top: 1rem;
    }

    .projectDetails a:nth-of-type(3) {
        margin-bottom: 3rem;
    }
}

.projectDetails a:hover {
    color: orangered;
}

.projectDiv ul li a div {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.projectDiv ul li a div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}